body{
    background-color: rgb(255, 255, 255);
}
*{
    margin:0 auto;
    padding: 0 ;
   box-sizing: border-box;

}
button{
    border-radius: 0%;
    border-color: rgb(255, 0, 0);
    border-bottom: 0cap;

}
#menu ul li {
    display:inline;
}
#menu{
    background-color: black;
}
#menu ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
} 
#menu ul li a:hover{
    background-color: blue;
} 
#menu ul{
    max-width: 800px;
    padding: 0;
    text-align: center;
}